XML/FILE_XML/XML DTD/CLIENT_DATA.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT root (record+)>

<!ELEMENT record (ID_CLIENTE, NOME_CLIENTE, COGNOME_CLIENTE, C_F_CLIENTE, USER_CLIENTE, USER_CLIENTE, PASS_CLIENTE, EMAIL_CLIENTE )>

	<!ELEMENT  ID_CLIENTE 	 		(#PCDATA)>
	<!ELEMENT  NOME_CLIENTE 		(#PCDATA)>
	<!ELEMENT  COGNOME_CLIENTE 	 	(#PCDATA)>
	<!ELEMENT  C_F_CLIENTE 	 	 	(#PCDATA)>
	<!ELEMENT  USER_CLIENTE 		(#PCDATA)>
	<!ELEMENT  PASS_CLIENTE 	 	(#PCDATA)>
	<!ELEMENT  EMAIL_CLIENTE 		(#PCDATA)>
