XML/FILE_XML/XML DTD/PRODOTTO_DATA.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT root (record+)>
<!ELEMENT record (ID_ARTICOLO , CODICE_ART , NOME_ARTICOLO , NOME_BRAND , MADE_IN , COMPOSIZIONE , TAGLIA , PREZZO_UNITARIO)>
<!ELEMENT  ID_ARTICOLO 	 (#PCDATA)>
<!ELEMENT  CODICE_ART 	 (#PCDATA)>
<!ELEMENT  NOME_ARTICOLO (#PCDATA)>
<!ELEMENT  NOME_BRAND 	 (#PCDATA)>
<!ELEMENT  MADE_IN  	 (#PCDATA)>
<!ELEMENT  COMPOSIZIONE  (#PCDATA)>
<!ELEMENT  TAGLIA 		 (#PCDATA)>
<!ELEMENT  PREZZO_UNITARIO (#PCDATA)>
